/* seteo de estilo*/

* {

    padding: unset;
    margin: unset;
    outline: unset;
    border: unset;

    /*propiedad magica*/
    box-sizing: border-box;

    font-size: 16px;
    font-weight: 400;
}


/* el resto del seteo se hace en el body*/

body {

    color: #060707;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FBF6E9;



}

.encabezado {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 33px;

}

.lista-navar {

    display: flex;
    gap: 35px;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    /* justify-content: space-between; ==  grap automatico*/
}



ul {
    list-style: none;
}

.Suscribete {

    background-color: #b086b0;
    font-weight: bold;
    color: #060707;
    padding: 10px 14px;
    border-radius: 14px;

}

.Agendar {

    background-color: #06D001;
    font-weight: bold;
    color: #fff;
    padding: 10px 14px;
    border-radius: 14px;
}



.Fondo {

    padding: 75px;
    background-image: url(/assets/3.jpg);
    background-size: cover;
    height: 548px;
    background-position: center;

}

.texto-jumbo {

    display: flex;
    color: #fff;
    padding: 90px;

    justify-content: center;
    align-content: center;

}

.texto-jumbo h1 {

    font-weight: bold;
    font-size: 53px;
    width: 776px;
    text-align: center;


}

.tarjeta1{

    /*display: flex;  */
    
    

}
.Jumbo2{

    padding: 75px;
    background-image: url(/assets/Jumbo2.jpg);
    background-size: cover;
    height: 548px;
    background-position: center;


}

.Jumbo2 h3{


    font-weight: bold;
    font-size: 53px;
    width: 776px;
    text-align:start;
    display: flex;
    color: #fff;
    padding: 90px;

  /*  justify-content: center; 
    align-content: center; */

}



img{ width: 180px;height: 180px;}

.footer {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 33px;

}

.footer1 {

    display: flex;
    gap: 35px;
    flex-direction:column;
    justify-content: start;
    align-items: center;
    
}